<div class="row u-c-txt author">
  <p>
    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
    <span class="date">Blair wrote this on {{ page.date | date: '%d %b' }}.</span>
    <br>He helps people get better teaching and drawing.</p>
    <p><a href="http://twitter.com/share?url=http://blair.rorani.com{{ page.url }}&text={{ page.title }}%20by%20@blairrorani
      " target="_blank">Share on Twitter</a> or <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://blair.rorani.com{{ page.url}}&title={{ page.title }}"  target="_blank">LinkedIn</a></p>
  </div>
