<p>The world is full of interesting stuff that is presented in boring, complicated ways <i class="em em-cry"></i> I design simple, visual tools that make information and ideas easy to understand and apply <i class="em em-raised_hands"></i>
</p>

<h2>Need to explain something?</h2>
<p>I can help you explain:
<ul>
<li>Technology</li>
<li>Strategy</li>
<li>Products and services</li>
<li>Workflows</li>
<li>Your expertise</li>
</ul>
</p>
<p><a href="mailto:blair@rorani.com">Arrange a time to talk</a> <i class="em em-point_right"></i></p>

<blockquote>
Blair's ability as a visual thinker is exceptional. His skill to take complex information an distil it down to a visual graphic is like watching a magician. (Rhys F, CXO Picnic)
</blockquote>
