<p><i class="em em-brain"></i> I make things that help people get better at stuff</p>
<!--<p><i class="em em-zap"></i> Founder at <a href="http://keaschool.com" target="_blank">Kea School</a></p>-->
<p><i class="em em-lower_left_crayon"></i> <a href="visual-note-taking">Visual note-taker</a></p>
<p><i class="em em-slightly_smiling_face"></i> I'm a Mormon at <a href="https://lds.org">LDS Church</a></p>
<p><i class="em em-camera_with_flash"></i> <a href="https://instagram.com/blairrorani">Photos</a></p>
<p><i class="em em-bird"></i> <a href="https://twitter.com/blairrorani">Twitter</a></p>
