<p><i class="em em-brain"></i> <a href="/visual-communication">Visual communication</a> and <i class="em em-zap"></i><a href="/problem-solving">problem solving</a> for digital transformation initiatives.</p>
<p><i class="em em-lower_left_crayon"></i> <a href="visual-note-taking">Visual note-taking</a> for tech talks and events</p>
<p><i class="em em-camera_with_flash"></i> <a href="https://instagram.com/blairrorani">Photos, videos and stories</a></p>
<p><i class="em em-bird"></i> <a href="https://twitter.com/blairrorani">Tweets</a></p>
</p>
<p><i class="em em-slightly_smiling_face"></i> Member of <a href="https://lds.org">The Church of Jesus Christ of Latter-day Saints</a></p>
