{% if site.link-list.dribbble %}<a href="http://dribbble.com/{{ site.link-list.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.link-list.email %}<a href="mailto:{{ site.link-list.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.link-list.facebook %}<a href="http://facebook.com/{{ site.link-list.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.link-list.flickr %}<a href="http://flickr.com/{{ site.link-list.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.link-list.github %}<a href="http://github.com/{{ site.link-list.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.link-list.instagram %}<a href="http://instagram.com/{{ site.link-list.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.link-list.linkedin %}<a href="http://linkedin.com/in/{{ site.link-list.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.link-list.pinterest %}<a href="http://pinterest.com/{{ site.link-list.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.link-list.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.link-list.twitter %}<a href="http://twitter.com/{{ site.link-list.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.link-list.stackoverflow %}<a href="http://stackoverflow.com/{{ site.link-list.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
